.App{
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


.header{
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  margin-top: 18px;
  padding: 8px 0;
  letter-spacing: 4px;
}
nav{
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
  height: 100px;
}
.li1{
  margin-left: 43px;
}
 nav ul{
  display: inline-block;
  width: fit-content;
  margin-left: 450px;
 }
 nav ul li{
  display: inline-block;
  list-style: none;
   font-size: 24px;
  color:#fff;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}



.form{
  justify-content: center;
  min-height: 10vh;
  align-items: center; 
  display: flex;
}
.text{
  width: 20%;
  border:1px solid;
  padding: 8px;
  border-radius: 28px;
  background: whitesmoke;
  font-size: 15px;
}
.but{
  border-radius:28px;
  background:orangered; 
  padding: 8px;
  width:8%;
  font-size: 15px;
  font-weight:25px;
  margin-left: 5px;
  color:#fff;
}
.but:hover{
  background: white;
  color:orangered;
}
.divi{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.head{
  text-align: center;
  font-size: 35px;
}
